/* main  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  height: 100vh;
  background-image: linear-gradient(to top, #fc354c, #0abfbc);
}

.img-cls {
  height: 20rem;
  position: absolute;
  top: 70%;
  right: 65%;
  padding: 3.5rem;
  background-color: #c5f6fa;
  border-radius: 5rem;
  box-shadow: 0.8rem 0.8rem rgb(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.h1-class {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  font-size: 8rem;
  letter-spacing: 0.5rem;
}
.postion-class {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.gamer--0 {
  background-color: #c5f6fa;
  width: 40%;
  height: 40vh;
  border-radius: 5rem;
  margin-bottom: 1rem;
  margin-right: 30%;
}

.gamer--1 {
  background-color: #ffc9c9;
  width: 40%;
  height: 40vh;
  border-radius: 5rem;
  margin-left: 30%;
}

.gamer-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 5rem;
  letter-spacing: 0.2rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.current {
  background-color: #66d9e8;
  box-shadow: 0.8rem 0.8rem rgb(0, 0, 0, 0.4);
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  height: 10rem;
}

.extr-box {
  display: flex;
  justify-content: center;
}
.current-label {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
}

.current-second {
  background-color: #ffa8a8;
}

.current-score {
  font-size: 5rem;
}

.button {
  height: 6rem;
  width: 25rem;
  border-radius: 2rem;
  background-color: #c3fae8;
  border: none;
  font-size: 2.2rem;
  font-family: "Chakra Petch";
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.button--restart {
  position: absolute;
  top: 17%;
  right: 25%;
  box-shadow: 0.8rem 0.8rem rgb(0, 0, 0, 0.4);
}

.button--rules {
  position: absolute;
  top: 27%;
  right: 25%;
  box-shadow: 0.8rem 0.8rem rgb(0, 0, 0, 0.4);
}

.button--throw {
  position: absolute;
  top: 37%;
  right: 25%;
  box-shadow: 0.8rem 0.8rem rgb(0, 0, 0, 0.4);
}

.button--keep {
  position: absolute;
  top: 47%;
  right: 25%;
  box-shadow: 0.8rem 0.8rem rgb(0, 0, 0, 0.4);
}

.gamer--active {
  background-image: linear-gradient(to bottom right, yellow, deeppink, #006699);
  opacity: 0.8;
  border: 3px solid #c0eb75;
}

.gamer--winner {
  font-weight: 800;
  background-image: linear-gradient(to right, green, blue);
  z-index: 15;
  width: 50%;
}

.modal {
  position: absolute;
  background-color: #d3f9d8;
  width: 75%;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 5rem;
  border-radius: 2rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 3%;
  right: 1%;
  font-size: 4rem;
  border: none;
  background-color: #d3f9d8;
}

.hidden-modal {
  display: none;
}
.hidden-overlay {
  display: none;
}

.rules-class {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.dg-rules {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.ul-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
