* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Special Elite", system-ui;
  color: #343a40;
  background-image: linear-gradient(
    5deg,
    rgba(169, 241, 223, 1),
    rgba(255, 187, 187, 1)
  );
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
}

main {
  height: 65vh;
  color: #343a40;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 8rem;
  letter-spacing: 0.5rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
}

.number {
  background: #dee2e6;
  color: #e03131;
  font-size: 10rem;
  width: 25rem;
  padding: 5rem 3rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 75%);
  border-radius: 50%;
  border: 2px solid #ff8787;
  box-shadow: 0.8rem 0.8rem rgb(0, 0, 0, 0.3);
}

/* .between {
  display: none;
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
} */

.again {
  position: absolute;
  top: 5%;
  right: 3%;
  border-radius: 5%;
  background: #dee2e6;
}
.rules {
  position: absolute;
  top: 5%;
  left: 3%;
  border-radius: 5%;
}

.guess {
  background: #dee2e6;
  border: 2px solid #74c0fc;
  font-family: inherit;
  color: #e03131;
  font-size: 8rem;
  padding: 1rem 2rem;
  padding-top: 3rem;
  width: 20rem;
  text-align: center;
  display: block;
  margin-bottom: 2rem;
  margin-top: 15rem;
  border-radius: 5%;
  box-shadow: 0.5rem 0.5rem rgb(0, 0, 0, 0.3);
}

.button {
  border: none;
  background: #dee2e6;
  color: #222;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: inherit;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  border: 2px solid #74c0fc;
  box-shadow: 0.5rem 0.5rem rgb(0, 0, 0, 0.3);
}

.button:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  margin-left: 6rem;
  height: 4rem;
  font-size: 2.5rem;
}

.label-score {
  margin-bottom: 2rem;
}

.check {
  border-radius: 5%;
  margin-bottom: 4rem;
  box-shadow: 0.5rem 0.5rem rgb(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 75%;
  height: 65vh;
  background-color: #c5f6fa;
  padding: 6rem;
  border-radius: 2rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 0.2rem;
  right: 2rem;
  font-size: 8rem;
  color: #e03131;
  cursor: pointer;
  border: none;
  background: none;
}

.game-instruction {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

ol {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}
li {
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
